.sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.container {
  position: relative;
}

.burgerMenu {
  position: relative;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  max-width: 320px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  transition: transform 300ms ease-in-out, var(--change-theme);
}

.navigation > :last-child {
  border-bottom: 1px solid var(--fg-color);
}

.navigation.isOpen {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #0000008f;
}

@media (min-width: 321px) {
  .navigation {
    border-left: 1px solid var(--fg-color);
  }
}
