.burgerMenu {
  height: 50px;
  width: 50px;
  background-color: var(--fg-color);
  color: var(--bg-color);
  font-family: var(--icons);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: inherit;
  border: none;
  transition: var(--change-theme);
}

.icon {
  font-size: 22px;
}

@media (hover: none) {
  .burgerMenu:active {
    filter: invert(0.2);
  }
}

@media (max-width: 360px) {
  .burgerMenu {
    width: 35px;
    height: 35px;
  }

  .icon {
    font-size: 16px;
  }
}
