.footer {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  grid-template-rows: auto 100px;
  border-top: 1px solid var(--fg-color);
  border-bottom: 1px solid var(--fg-color);
  box-sizing: border-box;
  gap: 1px;
  background-color: var(--fg-color);
  margin-bottom: 150px;
  transition: var(--change-theme);
}

.item {
  background-color: var(--bg-color);
  color: var(--fg-color);
  transition: var(--change-theme);
  font-weight: 600;
  text-decoration: none;
  cursor: inherit;
  -webkit-tap-highlight-color: transparent;
}

.item:not(.navigation) {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nickname {
  font-size: 55px;
}

.email {
  font-size: 20px;
}

.tagline {
  font-size: 20px;
  text-align: center;
}

.socials {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-weight: 300;
  font-family: var(--icons);
}

.tagline .icon {
  display: inline-flex;
  transform: translateY(3px);
  margin-right: 5px;
}

@media (max-width: 1280px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
  }

  .nickname {
    font-size: 40px;
  }

  .email,
  .tagline {
    font-size: 16px;
  }
}

@media (hover: hover) {
  .item:is(.nickname, .email):hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
  }
}

@media (hover: none) {
  .item:is(.nickname, .email):active {
    background-color: var(--fg-color);
    color: var(--bg-color);
  }
}

@media (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
